
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<div class="container">
  <nav>
    <div id="close"><i class="fas fa-times" (click)="sideBarOpened=false"></i></div>
    <div class="user">
      <img src="https://loremflickr.com/200/200/boy" alt="">
      <div class="info">
        <h3>Chris Smith</h3>
        <span>chrissmith@yahoo.com</span>
      </div>
    </div>
    <ul>
      <li><i class="fas fa-tablet"></i>My Fridge</li>
      <li><i class="fas fa-qrcode"></i>Browse</li>
      <li><i class="fas fa-save"></i>Saved Recipes</li>
      <li class="divider"></li>
      <li><i class="fas fa-cog"></i>Settings</li>
      <li><i class="fas fa-power-off"></i>Sign Out</li>
    </ul>
  </nav>
  <!-- <main id="main" class="shrink"> -->
    <!-- <main id="main" [ngClass]="{shrink: sideBarOpened }"]> -->
      <main id="main" [ngClass]="sideBarOpened == true ? 'shrink' : ''">
    <header>
      <i id="btn" class="fas fa-bars" (click)="sideBarOpened = !sideBarOpened"></i>
      <h2>My Fridge</h2>
      <i></i>
    </header>
    <div class="content">

      <!-- ingredient search bar -->
      <div>
        <app-search-bar></app-search-bar>
      </div>

      <!-- if user has ingrediants -->
      <div *ngIf="ingredientList.length; else emptyFridge">
        Welcome back, friend.
      </div>
      
      <!-- if user has no ingredients in their fridge -->
      <ng-template #emptyFridge>
        <div class="imgSection">
          <div class="emptyFridge"></div>
          <p class="centerTextAndFontFamily">Your Fridge is Empty</p>
        </div>
      </ng-template>
    
    </div>
  </main>
</div>




