.search-bar{
  display:block;
  margin: 70px auto 0 35%;
  padding: 10px 20px;
  max-width: 600px;
  width: 95%;
}
.search-results{
  max-width: 600px;
  width: 65%;
  margin: 20px auto 0 auto;
  hr{
    border: none;
    height: 1px;
    background-color: white;
  }
  p{
    margin: 10px 0;
  }
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}
